*{
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content:"" ;
    display: block;
    clear: both; 
}

.header{
    width: 400px;
    height: 100px;
    background-color: navy;
}

.left{
    width: 150px;
    height: 250px;
    background-color: skyblue;
    float:left;
}
.right{
    width: 250px;
    height: 250px;
    background-color: red;
    float: left;
}

.footer{
    width: 400px;
    height: 100px;
    background-color: orange;
}
