@media screen and (max-width:479px) {
    body{
        width: 100%;
    }
    #wrapper {
        max-width: 479px;
        width: 150px;
        flex-direction: column;
        float: none;
    }
    * {
        margin: 0;
        padding: 0;
    }
}