@media screen and (max-width: 479px) {
    .wrapper{
        position:absolute;
    }
    .header {
        width: 200px;
        height:200px;
    }
    .box{
        width: 160px;
        float: none;
        margin-right: 70px;
        padding-top:10px;
        margin-left:65px;
    }
    .box1{
        float: none;
        margin-left:10px;
    }
    .box2{
        float: none;
        margin-left:10px;
    }
    .box3{
        float: none;
        margin-left:10px;
    }
    .main{
        width: 200px;
    }
    .left{
        width:200px;
        float: none;
    }
    .right{
        width:200px;
    }
    .right-inner-top{
        margin-top: 20px;
        margin-left: 30px;
    }
    .right-inner-center{
        margin-left:30px;
    }
    .right-inner-bottom{
        margin-left:30px;
    }

    .footer {
        width: 200px;
        bottom:0;
        height: 350px;
    }
}