* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content:"";
    display: block;
    clear: both;
}

.wrapper{
    width: 400px;

}
.header{
    width: 400px;
    height: 100px;
    background-color: #141f40;
}
.box{
    width: 160px;
    height: 60px;
    float: right;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}
.box1{
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    float: left;
    margin-top: 10px;
    box-sizing:  content-box;
}
.box2{
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing:  content-box;
}
.box3{
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    float: left;
    margin-top: 10px;
    box-sizing:  content-box;
}
.main{
    width: 400px;
    height: 250px;  
}
.left{
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}
.right{
    width: 250px;
    height: 250px;
    background-color: #8c2727;
    float: left;
    padding: 40px, 60px, 40px, 40px;
}
.right-inner-top{
    margin-top: 40px;
    margin-left: 50px;
    width: 140px;
    height: 50px;
    background-color: #ff863f;
}
.right-inner-center{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    width: 140px;
    height: 50px;
    background-color: #ff863f;
}
.right-inner-bottom{
    margin-bottom: 40px;
    margin-left: 50px;
    width: 140px;
    height: 50px;
    background-color: #ff863f;
}
.footer{
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}