@media screen and (max-width:767px) {
    body{
        width: 100%;
    }
    .wrapper {
        width: 300px;
        float:none;
        position:static;
    }
    .contents {
        float: none;
    }
    .header{
        width: 300px;
    }
    .left{
        width: 100px;
    }
    .content{
        width: 200px;
    }
    .content-top-left{
        width: 125px;
    }
    .content-top-left-top{
        width: 125px;
    }
    .content-top-left-bottom{
        width:125px;
    }
    .content-top-right{
        width: 75px;
    }
    .content-bottom{
        width: 200px;
    }
    .footer{
        width: 300px;
    }
}
